* {
    font-family: tahoma;
}

p {
    margin: 0;
}

body {
    display: block;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.herohold {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    
}

.header {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        
}

.header ul,
.text{
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    display: inline-block;
    margin-left: 16px
}

.herocont {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    
}

.textimg {
    display: flex;
    justify-content: stretch;
}
  
img  {
    width: 100%;
    height: 100%;
  }

.image {
    width: 425px;
    align-items: stretch;
}

.text {
    width: 425px;
    display: flex;
    flex-direction: column;
    
}

.signup {
    align-self: flex-start;
}


.herosec {
    flex: 1;
    margin: 0;
    word-wrap: break-word; 
    font-size: 18px;
    color: #e5e7eb;
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.signup {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0px;
    padding: 8px;
    width: 106px;
    border-radius: 7px;
    font-size: 15px;
}

.infohold {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.rinfo {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 45px;

}

.cards { 
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:0;
}
.cardimg {
    width: 150px;
    height: 150px;
    border: 4px;
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
}

.cardtxt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(109, 103, 103);
}


.quotehold {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quotenauth {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-family: serif;
    margin: 0;   
}

.author {
    font-weight: bold;
    align-self: flex-end;
    margin-right: 20px;
}

.callhold {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.callcont {
    background-color: #3882f6;
    display: flex;
    border-radius: 7px;
    width: 900px;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px;

}

.calltext{
    color: white;

}

.call {
    font-size: 20px;
    font-weight: bold;
}

.callcont .signup{
    border: white;
    border-style: solid;
    border-width: 2px;
    align-self: center;
    font-weight: bold;
}

.foothold {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foottext {
    color: white;
    margin: 40px;
}